<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hoop Squad</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
        
    <link rel="icon" type="image/x-icon" href="./images/basketball_player2.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/project_5.css"/>

</head>

<body>

    <%# navbar %>
 
    <nav class="navbar px-3 my-4">
        <div class="row">
            <div class="col-3">
                <img src="./images/basketball_player4.jpg" height="180" alt="app logo">
            </div>
            <div class="col-5">
                <a class="navbar-brand" href="#">Hoop Squad</a>        
            </div>
        </div>
        <ul class="nav-item">
            <a class="nav-link" href="logout">Get off the court (Logout)</a>
        </ul>
    </nav>

    <div class="container text-center my-4">
        <h1 class="header">Game Time</h1>
        <img src="./images/basketball_court3.jpg" class="img-ball" alt="home court">
        <p>Welcome to the game, <strong><%= name %></strong>!</p>
        <p>You have reached the court, player Beyond this point, you will find the forum, in which the game will be played.  
            All of the categories are listed on the left.  Just pick a category, and it will bring up its corresponding discussion 
            thread on the right.  Here, you can post questions and respond to other players' questions.  Hopefully, you've done 
            enough practice because the competition is fierce.  Good luck, player.
        </p>
        <div class="nav-item text-center">
            <a class="btn btn-light" href="forum" role="button">Take your position</a>
        </div>
    </div>    

    <%# settings %>

    <div class="home-box text-center my-4">
        <img src="./images/basketball_player6.jpg" class="img-player" height="180" alt="home box">
        <p>Is your current strategy not working for you, player?  Then perhaps you should switch it up in your settings.</p>
        <button type="submit" class="btn btn-light" onclick="settingsChange()">Adjust your strategy</button>
    </div>

    <%# delete account %>

    <div class="home-box text-center my-4">
        <img src="./images/basketball_player6.jpg" class="img-player" height="180" alt="home box">
        <p>Don't want to play for us no more, player?  That's alright.  Go ahead and quit.</p>
        <div class="nav-item text-center">
            <a class="btn btn-light" href="thankyou" role="button">Drop out of the team</a>
        </div>
    </div>

    <%# footer %>
        
    <div class="text-center">
        <img src="./images/basketball4.jpg" class="img-ball" height="180" alt="company logo">
        <h4>The Virtual Basketball Association:  where it's game time, all the time</h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="./js/special_effects.js"></script>

</body>

</html>
