<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hoop Squad</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="./images/basketball_player2.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/project_5.css"/>

</head>

<body>

    <%# navbar %>
    
    <nav class="navbar px-3 my-4">
        <div class="row">
            <div class="col-3">
                <img src="./images/basketball_player4.jpg" height="180" alt="app logo">
            </div>
            <div class="col-5">
                <a class="navbar-brand" href="#">Hoop Squad</a>        
            </div>
        </div>
    </nav>

    <%# goodbye %>

    <div class="home-box text-center my-4">
        <p>Before you walk out, we at the Virtual Basketball Association would like to express our gratitude for joining 
            the Hoop Squad.  Hopefully, your time, work, and skills in our gym will take you a long way as you pursue your 
            basketball career.  Perhaps you will one day decide to come back to our organization and play for our team 
            again.  Who knows?  Then again, nobody knows what the future holds.  In the meantime, thank you and keep on 
            doing your thing, player.
        </p>
    </div>

    <%# main router %>

    <div class="home-box text-center my-4">
        <img src="./images/basketball_player6.jpg" class="img-player" height="180" alt="home box">
        <p>Thinking about changing your mind, player?  Well, the Hoop Squad gym is always open in case you feel like staying.</p>
        <div class="nav-item text-center">
            <a class="btn btn-light" href="/" role="button">Step out of the gym</a>
        </div>
    </div>

    <%# footer %>

    <div class="text-center">
        <img src="./images/basketball4.jpg" class="img-ball" height="240" alt="company logo">
        <h4>Virtual Basketball Association:  where it's game time, all the time</h4>
    </div>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="./js/special_effects.js"></script>

</body>

</html>